:root {
    --purple: #240750;
    --blue: #344C64;
    --lightblue: #577B8D;
    --green: #57A6A1;
    --lightgreen: #ACE1AF;

    
}
body {
    margin:0;
    padding:0;
    
}
.container {
    min-height: 100vh;
    display:grid;
    grid-template: 1fr 4fr / minmax(210px, 1fr) 4fr;
}
.container div {
    border: 1px solid greenyellow;
}
/* ------------------ Header ----------------------*/
.header {
   
    grid-column: 2/ -1; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--lightgreen);
    color:var(--purple);
    min-width: 515px;
}
.header-top {
    display: flex;
}
.search img {
    height: 25px;
}
.search {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    flex:2;
}
#searchbar {
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: var(--lightblue);
    height: 20px;
    width: 100%
}
.header-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    margin-left: 5%;
    flex:1;
    gap: 7%;
    font-weight: bold;
}
.header-profile img {
    height: 25px;
}
#header-top-pp {
    height: 40px;
}
.header-bottom {
    display: flex;
    height: 100%;
    align-items: center;
}
.header-bottom img {
    height: 60px;
}
.header-greeting {
    display: flex;
    align-items: center;
    flex:2;
    gap: 5%;
    margin-left: 8%;
    font-size: 12px;
}
.header-greeting span {
    font-size: 17px;
    font-weight: bold;
}
.header-greeting span:hover {
    color:var(--green)
}
.header-buttons {
    display: flex;
    flex: 1;
    gap: 10%;
    justify-content: flex-end;
    margin-right: 5%;
    
}
.header-button {
    text-align: center;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--green);
    color: var(--purple);
}
.header-button:active {
    background-color: var(--purple);
}

/* ------------------ Sidebar ----------------------*/
.sidebar {
    grid-row: 1 / -1;
    background-color: var(--green);
    color:white;
    

}
.sidebar-header {
    margin:5px;
    display:flex;
    align-items: center;
}
.sidebar-header img {
    height: 30px;
    filter: invert(92%) sepia(17%) saturate(611%) hue-rotate(62deg) brightness(92%) contrast(91%);

}
.sidebar ul {
    
    padding:15px;
}
.sidebar li {
    list-style: none;
    font-size: 20px;
    height: 30px;
    display: grid;
    align-items: center;
    
}
li img {

    height: 25px;
    filter: invert(92%) sepia(17%) saturate(611%) hue-rotate(62deg) brightness(92%) contrast(91%);
    
}
.sidebar-action-links {
    display: flex;
    justify-content: flex-start;
} 
/* ------------------ Sidebar ----------------------*/
.content {
    grid: 2 / 2 / -1 / -1;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 10px;
    padding: 10px;
    min-width: 680px;
    background-color: var(--lightblue);
}
.content h1 {
    font-size: 18px;
}

.cards-container {
    grid-row: 1 / -1;
}
.content-sidebar {
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
}
.announcements-container {
    flex:1;
}
.trending-container {
    flex:1;
}
.cards {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap:15px
    
} 
.card {
    background-color: var(--lightgreen);
    border-radius: 10px;
    min-width: 200px;
    height: 200px;
    display: grid;
    grid-template: 2fr 1fr / 10px 1fr 1fr;
    gap: 5px;

}
.card-side {
    grid-row: 1 / -1;
    background-color: var(--blue);
}
.card-text {
    
    grid-column: 2 / -1;
}
.card-text h1  {
    padding-top: 10px;
    margin-bottom: 0;
}
.card-text p {
    padding-top:0;
    margin-top:0;
    color: lightslategrey;
}
.card-buttons {
    grid-area: 2 / 3 / -1/ -1 ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}
.card-buttons img {
    height: 20px;
}