:root {
    --purple: #240750;
    --blue: #344C64;
    --lightblue: #577B8D;
    --green: #57A6A1;
    --lightgreen: #ACE1AF;

    
}
body {
    margin:0;
    padding:0;
    
}
.container {
    height: 100vh;
    display:grid;
    grid-template: 1fr 4fr / minmax(200px, 1fr) 3fr;
}
.container div {
    border: 1px solid greenyellow;
}
/* ------------------ Header ----------------------*/
.header {
    grid-column: 2/ -1; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--lightgreen);
    color:var(--purple)
}
.header-top {
    display: flex;
}
.search img {
    height: 25px;
}
.search {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    flex:2;
}
#searchbar {
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: var(--lightblue);
    height: 20px;
    width: 100%
}
.header-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    flex:1;
    gap: 7%;
    font-weight: bold;
}
.header-profile img {
    height: 25px;
}
#header-top-pp {
    height: 40px;
}
/* ------------------ Sidebar ----------------------*/
.sidebar {
    grid-row: 1 / -1;
    background-color: var(--green);
    color:white

    
}
.sidebar-header {
    margin:5px;
    display:flex;
    align-items: center;
}
.sidebar-header img {
    height: 30px;
    filter: invert(92%) sepia(17%) saturate(611%) hue-rotate(62deg) brightness(92%) contrast(91%);

}
.sidebar ul {
    
    padding:15px;
}
.sidebar li {
    list-style: none;
    font-size: 15px;
    height: 30px;
    display: grid;
    align-items: center;
    
}
li img {

    height: 25px;
    filter: invert(92%) sepia(17%) saturate(611%) hue-rotate(62deg) brightness(92%) contrast(91%);
    
}
.sidebar-action-links {
    display: flex;
    justify-content: flex-start;
} 
/* ------------------ Sidebar ----------------------*/
.content {
    grid: 2 / 2 / -1 / -1;
}

